{% extends "layout.html" %}

{% block body %}
    <head><title>words2</title></head>
    <body>
        <p>Index is here!</p>
        <input autocomplete="off" autofocus name="q" placeholder="Query" type="text">

        <ul></ul>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>

            let input = document.querySelector('input');
            input.onkeyup = function() {
                $.get('/search?q=' + input.value, function(data) {
                    let html = '';
                    for (word of data) {
                        html += '<li>' + word + '</li>';
                    }
                    document.querySelector('ul').innerHTML = html;
                });
            };

        </script>
   </body>
{% endblock %}