{% extends "layout.html" %}

{% block body %}
        <p>Index starts from here! See how it coexists with Search</p>
        <input autocomplete="off" autofocus name="q" placeholder="Query" type="text">

        <ul></ul>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
        let input = document.querySelector('input');
        input.onkeyup = function() {
            $.get('/search?q=' + input.value, function(data) {
                document.querySelector('ul').innerHTML = data;

            });
        };
        </script>
{% endblock %}